<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">

</head>
<body>
    <header id="header">
        <h1>The Lazy Traveler</h1>
    </header>
<section class="landing-page">

    <div class="landing-desc">
        <div class="landing-text">
        <span class="main-tag">Made by a traveler.</span> <span class="main-tag">For travelers.</span> 
        <span class="second-tag">Planning a long trip is an exciting and daunting experience. The Lazy Traveller simplifies the process by making accommodation and route 
           planning easy. We also help you manage your budget based on accurate local-pricing for the most common purchases. 
           Let's get started by simply signing up and make the first step towards your dream excursion!</span>
    </div>
    </div> 
    <div class="login">
        <a href="/login" class="button"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="button"><span class="fa fa-user"></span>Signup</a>
    </div>
</section>
<section class="landing-features" id="features">
    <div class="features-container">
        <h2>Plan your dream vacation (weekend warriors need not apply)</h2>
        <div class="features">
        <div class="features-child">
            <div><img src="./images/collaboration.png">
                <span>Set a budget for your trip and track it dynamically as you create legs for your vacation.</span>
            </div>
        </div>
        <div class="features-child"><img src="./images/hotel-building.png"><span>Include lodging information so you can easily view and manage bookings.</span></div>
        <div class="features-child"><img src="./images/route.png"><span>Add routing information to your journey so that you can easily manage scheduling to each destination.</span></div>

        </div>
    </div>
</section>

    

</body>
</html>
